@model SCE.Models.Part

@{
    ViewData["Title"] = "Delete";
}

<h2>删除</h2>

<h3>你确定要删除这个部门吗?</h3>
<div class="alert ng-isolate-scope alert-danger alert-dismissable" role="alert" type="success">
    <button type="button" class="close">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <div><span class="ng-binding ng-scope">警告：一旦删除该部门，将会同时删除所有在该部门的用户!</span></div>
</div>
<div>
    <h4>部门</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           部门名称
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            <a asp-action="Index">返回列表</a>
        </div>
    </form>
</div>
